/* 
Animation:
- Thuoc tinh tao hieu ung cho trang web
- Su dung @ keyframes de dinh nghia hieu ung(tao kich ban)
*/

:root {
  --width-span: 100px;
  --height-span: 100px;
  --width-box: 220px;
  --height-box: 200px;
  --color: 20%;
}
@keyframes skeleton {
  100% {
    translate: 100%;
  }
}

.box {
  width: 400px;
  height: 250px;
  margin: 30px auto;
  background: #e6e6e78f;
  position: relative;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent 0%,
    transparent 40%,
    rgba(255, 255, 255, 0.326) 50%,
    transparent 60%,
    transparent 100%
  );
  translate: -100%;
  animation: skeleton 0.6s linear infinite;
}

/* .box span {
  position: absolute;
  display: block;
  width: var(--width-span);
  height: var(--height-span);
  background-color: green;
  animation: color 1s linear infinite;
} */

.box .box-item {
  /* width: 40px;
  height: 100%; */
}
