* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.nav-bar {
  position: relative;
  z-index: 1;
  width: 80px;
  height: 80px;
  border-bottom-right-radius: 100%;
  background: white;
  color: #05a8f5;
}

.nav-bar .icon label {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 2.6rem;
}

.nav-bar .icon label i {
  transition: transform 0.5s ease;
}

.nav-bar .icon label .bars {
}

.nav-bar .icon .arrow i {
  opacity: 0;
  visibility: hidden;
}

:has(.nav-bar .icon #icon-toggle:checked) i {
  transform: rotate(180deg);
}

:has(.nav-bar .icon #icon-toggle:checked) .arrow i {
  opacity: 1;
  visibility: visible;
}
:has(.nav-bar .icon #icon-toggle:checked) .bars i {
  opacity: 0;
  visibility: hidden;
}

:has(nav .nav-bar .icon #icon-toggle:checked) .nav-bar {
  animation: arrow-ani 1s linear both;
}

:has(nav .nav-bar .icon #icon-toggle:not(:checked)) .nav-bar {
  animation: bars-ani 0.5s linear both;
}

:has(.nav-bar .icon #icon-toggle:checked) .menu ul {
  display: block;
}

@keyframes arrow-ani {
  99% {
    width: 9999px;
    height: 9999px;
  }
  100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}

@keyframes bars-ani {
  0% {
    width: 9999px;
    height: 9999px;
  }
  100% {
    border-bottom-right-radius: 100%;
  }
}

.nav-bar .menu ul {
  position: absolute;
  top: 60px;
  left: 30px;
  list-style: none;
  display: none;
}

.nav-bar .menu ul li {
  padding: 4px 0px;
}

.nav-bar .menu ul li a:focus {
  background-color: #eee8e87c;
  color: #034966;
}

.nav-bar .menu ul li a {
  display: inline-block;
  width: 200px;
  height: 40px;
  text-decoration: none;
  color: #05a8f5;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 10px 60px 13px 15px;
}

.burger {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #05a8f5;
}

.burger .burger-content {
  text-align: right;
  color: white;
  position: absolute;
  right: 20%;
  top: 45%;
}

.burger-content h1 {
  font-size: 4.8rem;
  padding-bottom: 50px;
}

.burger-content p {
  display: flex;
  line-height: 3rem;
  font-weight: 100;
  font-size: 1.6rem;
  align-items: center;
}

.burger-content p span {
  font-size: 3rem;
  margin-left: 5px;
}
