// Câu lệnh rẽ nhánh
// Toán tử so sánh: >, <, >=, <=, ==, !=
// Toán tử lý luận: and, or, not
// - and: Đúng khi tất cả các biểu thức đều đúng
// - or: Sai khi tất cả các biểu thức đều sai
// - not: Ngược lại

// $a: 17;

// @if ($a < 5) {
//   .box {
//     color: red;
//   }
// } @else if ($a >= 5 and $a <10) {
//   .box {
//     color: green;
//   }
// } @else if ($a >=10 and $a < 15) {
//   .box {
//     color: yellow;
//   }
// } @else {
//   .box {
//     color: blueviolet;
//   }
// }

// Kế thừa
// 1. @extend
// 2. placeholder (@extend)
// 3. @minxin và @include

// Ví dụ: Giả sử có 1 đoạn css va muốn thêm vào .product, .post
// transition: all 0.4s linear

@import "partials/variables";
@import "partials/placeholder";
@import "partials/mixin";

.box {
  padding: 30px 0;
  width: 1200px;
  margin: 0 auto;
  background-color: $primaryColor;
}

// @mixin container {
//   .container {
//     @include center();
//   }
// }

.posts {
  background-color: gray;
  @extend .box;
  @extend %transition;
}

.product {
  background-color: #fff;
  @extend .box;
  @extend %transition;
}

.testimonials {
  background-color: gray;
  @include center(1200px, 50px);
}

// @include container();

// Tách file:
// Cách 1: @import
// Cách 2: @use
// Cách 3: @ forward

//  Lưu ý khi tạo file để import: Bắt  dầu bằng gạch dưới (_)
