$column-gap: 24px;

.row-news {
  margin: 0 calc(0px - (#{$column-gap} / 2));
}

[class*="col-news-"] {
  flex-basis: calc((1 / 12 * 100%) * #{$column-gap});
  max-width: calc((1 / 12 * 100%) * #{$column-gap});
  padding: 0 calc(#{$column-gap} / 2);
}

.news {
  line-height: 2.1rem;
  margin-bottom: 100px;
  .new-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 24px;
    h2 {
      font-size: 3.2rem;
      font-weight: 800;
      line-height: 4.2rem;
    }

    p {
      width: 658px;
      margin: 0 auto;
      font-weight: 400;
      line-height: 2.1rem;
    }

    margin-bottom: 29px;
  }

  .new-content {
    article {
      display: flex;
      flex-direction: column;
      row-gap: 17px;

      img {
        width: 100%;
      }

      .description {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-size: 1.5rem;
          font-weight: 500;
          color: #46b20f;
        }

        .description-time {
          display: flex;
          align-items: center;
          column-gap: 10px;

          p {
            color: #a3a3a3;
          }
        }
      }

      h3 {
        line-height: 2.7rem;
        font-size: 2rem;
        font-weight: 600;
      }
    }

    .article-center {
      > img {
        // box-shadow: 0px 3.333px 3.333px 0px rgba(0, 0, 0, 0.25);
      }

      .description-time {
        img {
          box-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
        }
        .time-para p {
          text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  .action-btn {
    text-align: center;
    margin-top: 80px;

    a {
      display: inline-flex;
      align-items: center;
      padding: 12px 22px;
      border-radius: 7px;
      border: solid 1px #46b20f;

      span {
        font-size: 1.7rem;
        font-weight: 700;
      }

      img {
        margin-left: 4px;
      }
    }
  }
}
