@use "../../partials/mixin";

.row-slogan {
  align-items: stretch;
}

.row-slogan-margin-bottom {
  margin-bottom: 39px;
}

.slogan {
  img {
    width: 56px;
    max-width: fit-content;
  }
  .row-slogan {
    justify-content: center;
    column-gap: 52px;
    row-gap: 52px;
  }
  article {
    display: flex;
    width: 288px;
    height: 100%;
    column-gap: 16px;
    align-items: flex-start;
    // background-color: aquamarine;

    .slogan-text {
      display: flex;
      flex-direction: column;
      row-gap: 7px;
    }
  }
}

@include mixin.screenMd() {
  .slogan {
    img {
      width: 45px;
    }
    .row-slogan {
      column-gap: 5vw;
      row-gap: 5vw;
    }

    article {
      max-width: 37.5vw;
      min-width: 220px;

      .slogan-text {
        h3 {
          font-size: 1.8rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@include mixin.screenSm() {
  .slogan {
    .row-slogan {
      column-gap: 4vw;
      row-gap: 5vw;
    }

    article {
      max-width: 37.5vw;
      min-width: 200px;
      column-gap: 10px;

      .slogan-text {
        h3 {
          font-size: 1.8rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}
@include mixin.screenXsm() {
  .slogan {
    img {
      width: 56px;
    }

    .row-slogan {
      row-gap: 52px;
    }

    article {
      max-width: 37.5vw;
      min-width: 288px;
      column-gap: 16px;

      .slogan-text {
        h3 {
          font-size: 2rem;
        }
        p {
          font-size: 1.6rem;
        }
      }
    }
  }
}
