$nameSection: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$columnSpace: 20px;

@each $name, $value in $breakpoints {
  @media screen and (min-width: #{$value}) {
    @for $i from 1 through 12 {
      .col-#{$name}-#{$i} {
        flex-basis: 100 / 12 * $i + 0%;
        max-width: 100 / 12 * $i + 0%;
        margin: 0 #{$columnSpace / 2};
      }
      .offset-#{$name}-#{$i} {
        margin-left: 100 / 12 * $i + 0%;
      }
    }
  }
}

@mixin screenMobile {
  @media screen and (max-width: 575px) {
    @content;
  }
}

@mixin screenTablet {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin screenLG {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin screenXL {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

@mixin screenXXL {
  @media screen and (max-width: 1399px) {
    @content;
  }
}
