footer {
  // display: none;
  padding-top: 67px;
  background-color: #f2ffec;
  display: flex;
  justify-content: center;

  .container-footer {
    // width: 70%;
    justify-content: center;

    .row-footer-top {
      justify-content: center;
      margin-bottom: 73px;
      column-gap: 108px;
      row-gap: 50px;
    }

    .row-footer-top,
    .row-footer-top-content-right {
      align-items: flex-start;
      // column-gap: 108px;
    }
  }

  .footer-top {
    position: relative;

    .footer-top-content-left {
      .logo {
        margin-block: -3px 25px;
      }

      p {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.1rem;
      }
    }

    .footer-top-content-right {
      display: flex;
      column-gap: 13px;

      .row-footer-top-content-right {
        display: flex;
        column-gap: 70px;
        row-gap: 50px;
      }

      .footer-item {
        display: flex;
        flex-direction: column;
        row-gap: 7px;

        h4 {
          color: #46b20f;
          font-weight: 600;
          font-size: 1.7rem;
          line-height: 2.2rem;
          margin-bottom: 6px;
        }

        a {
          line-height: 2.1rem;
        }

        .icon-content {
          display: flex;
          column-gap: 10px;
        }
      }
    }

    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #a3a3a3;
    }
  }

  .footer-bottom {
    .footer-bottom-left {
      padding-block: 25px 27px;
    }
    .footer-bottom-right {
      display: flex;
      justify-content: flex-end;
      column-gap: 7px;

      .footer-bottom-right-item {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #dcffca;
        }
      }
    }
  }
}
