.row-flex-start {
  align-items: flex-start;
}

footer {
  padding-top: 67px;
  background-color: #f2ffec;

  .container-footer {
    width: 70%;
  }

  .footer-top {
    position: relative;

    .footer-top-content-left {
      margin-bottom: 73px;
      .logo {
        margin-block: -3px 25px;
      }

      p {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.1rem;
      }
    }

    .footer-top-content-right {
      display: flex;
      flex-direction: column;
      row-gap: 13px;

      .footer-top-content-right-title {
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 2.2rem;
        color: #46b20f;
      }

      .footer-top-content-right-wrrap {
        display: flex;
        flex-direction: column;
        row-gap: 7px;

        .icon-content {
          display: flex;
          align-items: flex-start;
          column-gap: 10px;
        }
      }
    }

    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #a3a3a3;
    }
  }

  .footer-bottom {
    .footer-bottom-left {
      padding-block: 25px 27px;
    }
    .footer-bottom-right {
      display: flex;
      justify-content: flex-end;
      column-gap: 7px;

      .footer-bottom-right-item {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #dcffca;
        }
      }
    }
  }
}
