header {
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
}

.header-logo {
  cursor: pointer;
}

.col-right {
  margin-left: auto;
}

.header-content {
  display: flex;
  //   margin-left: auto;
  column-gap: 50px;
  float: right;

  nav {
    display: flex;
    align-items: center;
    column-gap: 50px;

    a {
      display: block;
      position: relative;
      font-size: 1.7rem;
      line-height: 2.2rem;
      font-weight: 600;
      color: #2c2c2c;
      padding-block: 51px 35px;

      &:hover {
        color: #46b20f;

        &::after {
          position: absolute;
          content: "";
          bottom: 0;
          display: block;
          width: 100%;
          height: 2px;
          background-color: #46b20f;
        }
      }
    }
  }

  .action {
    display: flex;
    align-items: center;
    column-gap: 50px;

    .cart {
      position: relative;
      cursor: pointer;

      &:after {
        position: absolute;
        top: -10px;
        right: -5px;
        display: flex;
        align-items: center;
        justify-content: center;
        content: "3";
        width: 20px;
        height: 20px;
        background-color: #e05000;
        border-radius: 99px;
        color: white;
        font-weight: 600;
      }
    }

    .search {
      cursor: pointer;
    }
  }
}
