* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #2e2e2e;
}

a {
  color: #4d4d4d;
  text-decoration: none;
}

p {
  color: #676767;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

svg {
  width: 16px;
  height: 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* margin-inline: 25px; */
}

.col-xxl-6 {
  width: 50%;

  /* padding-inline: 15px; */
}

.col-xxl-7 {
  width: 58.33333%;
  margin: 0 auto;
}

.col-xxl-8 {
  width: 66.66667%;
  margin: 0 auto;
  padding-inline: 32px;
  margin-block: 10px;
}
.col-xxl-5 {
  width: 41.66667%;
}
.col-xxl-4 {
  width: 33.33333%;
  padding-inline: 32px;
  margin-block: 10px;
  /* display: flex;
  flex-direction: column; */
}
