.modal {
  display: none;
}

.modal {
  position: absolute;
  z-index: 1;
  background: white;
}

.overlay {
  height: 100vh;
  position: absolute;
  inset: 0;
  background: #00000058;
}

.overlay {
  display: none;
}

input:checked + .overlay {
  display: block;
}

input:checked + .overlay + .modal {
  display: block;
}

.modal {
  width: 50%;
  padding: 20px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
}

.modal label {
  position: absolute;
  top: 0;
  right: 0;
}
