h2 {
  font-size: 2.5rem;
  font-family: "Times New Roman", Times, serif;
}

section {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.nav-list-btn .btn {
  padding: 8px 16px;
  border: none;
}

.nav-list-btn .btn:focus {
  color: white;
  background: #29388e;
}
.grid {
  position: relative;
  width: 100%;
  height: auto;
}

.row-2,
.row-3,
.row-4,
.row-5 {
  display: none;
}

/* .grid__row {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0; 
  opacity: 0;
  visibility: hidden;
} */

/* .grid__row:nth-child(1) {
  opacity: 1;
  visibility: visible;
} */
/* .grid__row:nth-child(3) {
  opacity: 1;
  visibility: visible;
} */
/* .grid__row:nth-child(4) {
  opacity: 1;
  visibility: visible;
}
.grid__row:nth-child(5) {
  opacity: 1;
  visibility: visible;
} */

.nav-list-btn,
.btn-inline {
  display: inline-block;
}

.item {
  text-align: center;
}

.product {
  position: relative;
  margin: 0 auto 40px;
  height: 220px;
  width: 140px;
}

.product__images {
  position: relative;
  height: 220px;
  width: 140px;
  margin: 0 auto;
}

.product__image {
  position: absolute;
  width: 100%;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

.product__image:last-child {
  opacity: 1;
  visibility: visible;
  margin-right: 30px;
}

.product__images:hover .product__image:first-child {
  opacity: 1;
  visibility: visible;
}

.product__images:hover ~ .row-2 {
  display: flex;
}
.product__images:hover .product__image:last-child {
  opacity: 0;
  visibility: hidden;
}

.item-list-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

.product__images:hover .item-list-btn {
  opacity: 1;
  visibility: visible;
}

.item-list-btn ul li:nth-child(2) {
  margin: 0 5px;
}

.item-list-btn .btn {
  background: #29388e;
  border: none;
  color: white;
}

.btn-inline .btn {
  margin-bottom: 8px;
}

.btn i,
.btn.btn-bottom {
  padding: 5px;
}

.btn-bottom {
  width: 140px;
}
.fa-star {
  color: #9f9f9f;
}

.checked {
  color: orange;
}

.btn1:active body {
  background: coral;
}
