h1 {
  margin: 0;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url("../background/login-bg2.jpg") no-repeat 50% 100% / 100% auto;
}

.grid__row-1 {
  position: relative;
  border-radius: 10px;
  word-wrap: break-word;
  box-shadow: 0 0 10px 5px #e9e3e3;
  display: flex;
}

.box_left,
.box_right {
  text-align: center;

  align-items: center;
}

.box_left {
  background: #ff574d;
  color: white;
  width: 40%;
  float: left;
  padding: 50px 12px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.box_left h2 {
  font-size: 2rem;
}

.logo h2::before {
  content: "JL";
  width: 30px;
  height: 30px;
  color: #ff574d;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  margin-right: 5px;
}

.box_left p {
  margin-top: 2rem;
  word-spacing: 0.2rem;
  line-height: 1.6rem;
}

.box_left ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.box_right {
  float: left;
  width: 60%;
  padding: 28px 30px;
  background: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.box_right h2 {
  margin-bottom: 20px;
  color: #272323;
}

.box_right h2 span {
  color: #ff574d;
  position: relative;
}

.box_right h2 span::after {
  content: "";
  display: block;
  position: absolute;
  width: 34px;
  height: 1px;
  background-color: #ff574d;
  left: -2px;
  bottom: -9px;
}

.box_right input.email,
.box_right input.password {
  padding: 10px 14px;
  width: 100%;
  margin: 8px 0px;
  font-size: 1.2rem;
  border: none;
  outline: none;

  box-shadow: 0 0 2px 1px #dbd9d9;
}

.box_left a {
  display: inline-block;
  text-decoration: none;
  padding: 6px 20px;
  background-color: white;
  color: #ff574d;
  border-radius: 2px;
  font-weight: 500;
  margin: 16px 0;
}

.icon-right {
  position: absolute;
  width: 25px;
  height: 25px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  color: #ff574d;
  top: 50%;
  left: 38%;
  box-shadow: 0 0 2px 0 #dbd1d1;
}

.list-icon {
  display: flex;
  justify-content: center;
}

.list-icon li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 0 4px;
  color: white;

  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.084);
}

.box-remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.remember-check {
  display: flex;
  align-items: center;
}

.remember-check input {
  width: auto;
  border: solid 1px #dbd1d1;
  box-shadow: 0 0 2px 1px #dbd9d9;
}

.remember-check label {
  position: relative;
  align-items: center;
  margin-left: 19px;
  color: #717171;
}

.remember-check label::after {
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  border: solid 1px #dbd1d1;
  border-radius: 3px;
  left: -19px;
  top: -2px;
  box-shadow: 0 0 2px 1px #dbd9d9;
}

.remember-check label::before {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 4px;
  border-bottom: solid 2px #717171;
  border-right: solid 2px #717171;
  transform: rotate(45deg);
  left: -14px;
  top: 1px;
  opacity: 0;
  visibility: hidden;
}

.remember-check:has(input:checked) label::before {
  opacity: 1;
  visibility: visible;
}

.forgot-pass {
  display: inline-block;
}
.forgot-pass a {
  text-decoration: none;
  color: #717171;
}

button {
  display: block;
  width: 100%;
  padding: 8px 0;
  background-color: #ff574d;
  outline: none;
  border: none;
  color: white;
  letter-spacing: 0.1rem;
}

.box_right p {
  margin-top: 16px;
  color: #717171;
}
