/*
flex = flexible box module
- Ky thuat chia layout linh hoat
- Truc: Main va cross
- Thanh phan: flex container va flex item 


1. Cac thuoc tinh trong nhom flex container
- display: flex --> kich hoat flex
- flex-direction: chon huong cho chuc chinh
+ row: --> mac dinh
+ colomn
+ row-reverse
+ colomn-reverse
- justify-content: can chinh cac item theo huong song song truc chinh
+ flex-start
+ flex-end
+ center
+ space-between
+ space-around
+ space-evenly
+ start --> ve tim hieu
+ end --> ve tim hieu
- align-items: can chinh item theo huong vuong goc truc chinh
+ stretch
+ flex-start
+ center
+ flex-end
+ baseline
- gap: tao khoang cach giua cac items
+ row-gap
+ column-gap

2. Cac thuoc tinh trong nhom flex item
flex-grow: lap dau khoang cach con thua cua flex container(mac dinh la 0)

flex-shrink
flex-basis: bi chan moi min-width, max-width khi flex-direction la row
va min-height, max-height khi flex-direction la column

flex: grow shrink basis

align-self: can chinh 1 item theo truc cross, cac gia tri giong align-item


 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  width: 400px;
  height: 300px;
  border: 1px solid red;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* gap: 10px 20px; */
  /* row-gap: 10px; */
  /* column-gap: 20px; */
}

.item {
  background: green;
  color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  /* flex-grow: 1; */
  /* flex-basis: 60px; */
}

.item:nth-child(2) {
  display: flex;
  align-items: center;
}

.item:nth-child(4) {
  align-self: center;
}
