.product_role-margin-left-auto {
  margin-inline: auto -6px;
}

.product_role-margin-center-auto {
  margin-inline: auto;
}

.product_role-margin-right-auto {
  margin-inline: -6px auto;
}

.product-margin-left-auto {
  margin-inline: auto 18px;
}

.product-margin-center-auto {
  margin-inline: auto;
}

.product-margin-right-auto {
  margin-inline: 18px auto;
}

.protect-margin-left-auto {
  margin-inline: auto -2px;
}

.protect-margin-center-auto {
  margin-inline: auto;
}

.protect-margin-right-auto {
  margin-inline: -2px auto;
}

.slogan-margin-left-auto {
  margin-inline: auto -3px;
}

.slogan-margin-center-auto {
  margin-inline: auto;
}

.slogan-margin-right-auto {
  margin-inline: -3px auto;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  color: #2c2c2c;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

h2 {
  font-size: 3.2rem;
  line-height: 4.2rem;
  font-weight: 800;
}

h3 {
  font-size: 2rem;
  line-height: 2.7rem;
  font-weight: 600;
}

p {
  font-weight: 400;
  line-height: 2.1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: white;
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
}
header img {
  min-width: max-content;
}

.header-logo {
  cursor: pointer;
}

.col-right {
  margin-left: auto;
}

.header-content {
  display: flex;
  align-items: center;
  column-gap: 50px;
  float: right;
}
.header-content nav {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.header-content nav a {
  display: block;
  position: relative;
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: 600;
  color: #2c2c2c;
  padding-block: 51px 35px;
}
.header-content nav a:hover {
  color: #46b20f;
}
.header-content nav a:hover::after {
  position: absolute;
  content: "";
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #46b20f;
}
.header-content .action {
  display: flex;
  align-items: center;
  column-gap: 50px;
  padding-block: 51px 35px;
}
.header-content .action img {
  height: 22px;
}
.header-content .action .cart {
  position: relative;
  cursor: pointer;
}
.header-content .action .cart:after {
  position: absolute;
  top: -10px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "3";
  width: 14px;
  height: 14px;
  background-color: #e05000;
  border-radius: 99px;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
}
.header-content .action .cart img {
  width: 25px;
}
.header-content .action .search {
  cursor: pointer;
}
.header-content .toggle-btn {
  display: none;
}

@media screen and (max-width: 1200px) {
  header .col-right {
    margin-left: 0;
    column-gap: 0;
  }
}
@media screen and (max-width: 992px) {
  header .col-right .header-content .header-content-title {
    position: absolute;
    top: 100px;
    right: 10px;
  }
  header .col-right .header-content nav {
    display: block;
    opacity: 0;
    visibility: hidden;
    width: 400px;
    background-color: orange;
    border-radius: 10px;
    z-index: 1;
    transition-property: opacity, visibility;
    transition: 0.3s linear;
  }
  header .col-right .header-content nav::before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 8px;
    border-left: 20px solid orange;
    border-top: 20px solid orange;
    transform: rotate(45deg);
  }
  header .col-right .header-content nav .nav-item {
    padding: 6px 6px;
    position: relative;
  }
  header .col-right .header-content nav .nav-item + .nav-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 1px;
    background-color: #9e9b9b;
  }
  header .col-right .header-content nav .nav-item a {
    padding: 10px 6px;
  }
  header .col-right .header-content nav .nav-item a:hover {
    color: rgb(245, 244, 244);
    background-color: #eb9533;
    border-radius: 10px;
  }
  header .col-right .header-content nav .nav-item a:hover::after {
    display: none;
  }
  header .col-right .header-content:has(input:checked) .header-content-title {
    display: block;
  }
  header .col-right .header-content:has(input:checked) .header-content-title nav {
    opacity: 1;
    visibility: visible;
  }
  header .col-right .header-content .toggle-btn {
    display: block;
    padding-block: 51px 35px;
  }
  header .col-right .header-content .toggle-btn label {
    cursor: pointer;
  }
  header .col-right .header-content .toggle-btn label i {
    font-size: 2.2rem;
  }
}
footer {
  padding-top: 67px;
  background-color: #f2ffec;
  display: flex;
  justify-content: center;
}
footer .container-footer {
  justify-content: center;
  padding: 0 60px;
}
footer .container-footer .row-footer-top {
  justify-content: stretch;
  margin-bottom: 73px;
  column-gap: 6.75vw;
  row-gap: 50px;
}
footer .container-footer .row-footer-top,
footer .container-footer .row-footer-top-content-right {
  align-items: flex-start;
}
footer .footer-top {
  position: relative;
}
footer .footer-top .footer-top-content-left .logo {
  margin-block: -3px 25px;
}
footer .footer-top .footer-top-content-left p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
}
footer .footer-top .footer-top-content-right {
  display: flex;
  column-gap: 13px;
}
footer .footer-top .footer-top-content-right .row-footer-top-content-right {
  display: flex;
  column-gap: 70px;
  row-gap: 50px;
}
footer .footer-top .footer-top-content-right .footer-item {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
footer .footer-top .footer-top-content-right .footer-item h4 {
  color: #46b20f;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.2rem;
  margin-bottom: 6px;
}
footer .footer-top .footer-top-content-right .footer-item a {
  line-height: 2.1rem;
}
footer .footer-top .footer-top-content-right .footer-item .icon-content {
  display: flex;
  column-gap: 10px;
  align-items: flex-start;
}
footer .footer-top .footer-top-content-right .footer-item-two,
footer .footer-top .footer-top-content-right .footer-item-three {
  width: 222px;
}
footer .footer-top::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #a3a3a3;
}
footer .footer-bottom .footer-bottom-left {
  padding-block: 25px 27px;
}
footer .footer-bottom .footer-bottom-right {
  display: flex;
  justify-content: flex-end;
  column-gap: 7px;
}
footer .footer-bottom .footer-bottom-right .footer-bottom-right-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dcffca;
}

@media screen and (max-width: 1200px) {
  footer .container-footer {
    padding: 0px;
  }
}
.hero {
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
  margin-top: 110px;
}
.hero .row-hero {
  align-items: stretch;
}
.hero .hero-text {
  display: flex;
  height: 709px;
  flex-direction: column;
  justify-content: center;
}
.hero .hero-text h2 {
  font-size: 3.7rem;
  font-weight: 800;
  line-height: 6rem;
}
.hero .hero-text h1 {
  font-size: 4.3rem;
  font-weight: 800;
  line-height: 5.2rem;
  width: 390px;
}
.hero .hero-text p {
  margin-top: 29px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.1rem;
  width: 450px;
}
.hero .col-hero-right {
  position: relative;
}
.hero .hero-img {
  position: relative;
  width: 50vw;
  background-color: #dcffca;
  border-radius: 16.667px 0px 0px 16.667px;
  height: 100%;
}
.hero .hero-img img {
  width: 45vw;
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -17.75%;
  transform: translateY(-50%);
}
.hero .hero-img span {
  display: block;
  position: absolute;
  left: 96%;
  top: 50%;
  font-size: 10.4vw;
  font-weight: 800;
  color: rgba(34, 96, 0, 0.2196078431);
  text-transform: uppercase;
  transform-origin: top left;
  transform: rotate(90deg) translateX(-50%);
}

@media screen and (max-width: 1200px) {
  .container-low {
    margin-inline: 20px;
  }
  .hero .hero-img {
    border-radius: 17px;
    text-align: center;
  }
  .hero .hero-img img {
    position: static;
    margin: 0;
    transform: translateY(0);
  }
  .hero .hero-img span {
    position: static;
    transform: rotate(0deg) translateX(0);
    top: 0;
    left: 0;
    font-size: 7rem;
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 992px) {
  .row-hero {
    margin-inline: 20px;
  }
  .hero .hero-text {
    height: auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .hero .hero-text h1 {
    width: auto;
  }
  .hero .hero-text p {
    width: auto;
  }
  .hero .hero-img {
    width: 100%;
  }
}
.product_role {
  padding-bottom: 215px;
}
.product_role .row-product_role {
  justify-content: center;
  column-gap: 22px;
  row-gap: 22px;
}
.product_role .product_role_title h2 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 4.2rem;
  width: 558px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.product_role .product_role_title p {
  text-align: center;
  width: 645px;
  margin: 0 auto;
  line-height: 2.1rem;
  margin-bottom: 90px;
}
.product_role article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  row-gap: 24px;
  padding: 30px 34px;
  border-radius: 3.333px;
  box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
}
.product_role article .quality {
  width: 84px;
  height: 84px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_role article .quality-1,
.product_role article .quality-3 {
  background-color: #fff0e7;
}
.product_role article .quality-2 {
  background-color: #f2ffec;
}
.product_role article span {
  font-size: 4.4rem;
  font-weight: 800;
}
.product_role article p {
  font-size: 2rem;
  line-height: 3.1rem;
  font-weight: 400;
}
.product_role .article-one {
  position: relative;
}
.product_role .article-one::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-113px, -50%);
  z-index: -1;
  content: "";
  display: block;
  width: 235px;
  height: 235px;
  border-radius: 50%;
  background-color: #dcffca;
}
.product_role .article-one,
.product_role .article-three {
  width: 294px;
  height: 338px;
}
.product_role .article-two {
  width: 343px;
  height: 393px;
}
.product_role .article-three {
  position: relative;
}
.product_role .article-three::before {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(113px, 142px);
  z-index: -1;
  content: "";
  display: block;
  width: 235px;
  height: 235px;
  border-radius: 50%;
  background-color: #ffd5bd;
}

@media screen and (max-width: 1200px) {
  .product_role {
    padding-bottom: 100px;
  }
  .product_role .article-one::before,
  .product_role .article-three::before {
    display: none;
  }
  .product_role .row-product_role article {
    padding-inline: 30px;
  }
  .product_role .row-product_role .article-one,
  .product_role .row-product_role .article-three {
    max-width: 24.5vw;
    min-width: 281px;
  }
  .product_role .row-product_role .article-two {
    max-width: 28.58vw;
    min-width: 328px;
  }
}
@media screen and (max-width: 992px) {
  .product_role {
    padding-bottom: 80px;
  }
  .product_role .product_role_title h2 {
    width: 70%;
  }
  .product_role .product_role_title p {
    width: 80%;
    margin-bottom: 50px;
  }
  .product_role .row-product_role {
    align-items: stretch;
  }
  .product_role .row-product_role [class*=article-] {
    justify-content: flex-start;
    max-width: 294px;
    height: 100%;
    min-width: auto;
  }
}
@media screen and (max-width: 768px) {
  .product_role .product_role_title h2 {
    width: 90%;
  }
  .product_role .product_role_title p {
    width: 90%;
  }
  .product_role .row-product_role [class*=article-] {
    max-width: 39vw;
  }
  .product_role .row-product_role [class*=article-] span {
    font-size: 3.7rem;
  }
  .product_role .row-product_role [class*=article-] p {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}
@media screen and (max-width: 576px) {
  .product_role .product_role_title h2 {
    width: 100%;
  }
  .product_role .product_role_title p {
    width: 100%;
  }
  .product_role .row-product_role [class*=article-] {
    padding: 26px;
    border-radius: 10px;
  }
  .product_role .row-product_role [class*=article-] span {
    font-size: 3rem;
  }
  .product_role .row-product_role [class*=article-] p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
.background-color-orange {
  background-color: #ffba94;
}

.background-color-green {
  background-color: #c5ffa8;
}

.row-product {
  row-gap: 96px;
}

.row-margin-bottom {
  margin-bottom: 96px;
}

.margin-auto {
  margin: 0 auto;
}

.products {
  text-align: center;
  margin-bottom: 129px;
}
.products h2 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 4.2rem;
  margin-bottom: 50px;
}
.products .row-product {
  align-items: stretch;
}
.products article {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.products .product-item {
  width: 269px;
  text-align: center;
}
.products .product-item .circle {
  width: 269px;
  height: 269px;
  margin: 0 auto;
  border-radius: 50%;
}
.products .product-item .product-img {
  margin-top: -128px;
}
.products .product-item .product-text {
  flex: 99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products .product-item .product-text .description {
  position: relative;
  margin-top: 30px;
}
.products .product-item .product-text .description::before {
  content: "";
  display: block;
  position: absolute;
  width: 41px;
  height: 2px;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #a3a3a3;
}
.products .product-item h3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
}
.products .product-item .description {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.2rem;
}
.products .product-item .description p + p {
  margin-top: 7px;
}
.products .product-item .description span {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.7rem;
}
.products .product-item .action-btn a {
  display: inline-block;
  padding: 14px 12px;
  margin-top: 31px;
  background-color: #46b20f;
  border-radius: 7px;
  color: white;
  transition: background-color 0.3s linear;
}
.products .product-item .action-btn a:hover {
  background-color: #328509;
}

@media screen and (max-width: 1200px) {
  .product-margin-right-auto,
  .product-margin-left-auto {
    margin-inline: auto !important;
  }
  .products .product-item .circle {
    display: none;
  }
  .products .product-item .product-img {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .products .product-item {
    width: auto;
    padding: 0 10px;
  }
  .products .product-item .product-text h3 {
    font-size: 2rem;
  }
  .products .product-item .product-text .description {
    font-size: 1.5rem;
  }
  .products .product-item .product-text .description span {
    font-size: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .products .product-item .product-text h3 {
    font-size: 1.8rem;
  }
  .products .product-item .product-text .description {
    font-size: 1.3rem;
  }
  .products .product-item .product-text .description span {
    font-size: 1.8rem;
  }
}
.news {
  line-height: 2.1rem;
  margin-bottom: 100px;
}
.news .row-news {
  column-gap: 24px;
  row-gap: 30px;
  justify-content: center;
}
.news .new-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 24px;
  margin-bottom: 29px;
}
.news .new-title h2 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 4.2rem;
}
.news .new-title p {
  width: 658px;
  margin: 0 auto;
  font-weight: 400;
  line-height: 2.1rem;
}
.news .new-content article {
  max-width: 24vw;
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}
.news .new-content article .description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news .new-content article .description p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #46b20f;
}
.news .new-content article .description .description-time {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.news .new-content article .description .description-time p {
  color: #a3a3a3;
}
.news .new-content article h3 {
  line-height: 2.7rem;
  font-size: 2rem;
  font-weight: 600;
}
.news .new-content .article-center .description-time img {
  box-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
}
.news .new-content .article-center .description-time .time-para p {
  text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
}
.news .action-btn {
  text-align: center;
  margin-top: 80px;
}
.news .action-btn a {
  display: inline-flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 7px;
  border: solid 1px #46b20f;
}
.news .action-btn a span {
  font-size: 1.7rem;
  font-weight: 700;
}
.news .action-btn a img {
  margin-left: 4px;
}

@media screen and (max-width: 1400px) {
  .news .new-title p {
    width: auto;
  }
  .news .new-content article {
    width: 294px;
    max-width: none;
  }
}
@media screen and (max-width: 992px) {
  .news .new-content article {
    max-width: 39vw;
    min-width: 330px;
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .news .new-content .row-news {
    column-gap: 3.125vw;
  }
  .news .new-content article {
    max-width: 42vw;
    min-width: 250px;
    width: auto;
  }
}
@media screen and (max-width: 576px) {
  .news .new-content .row-news {
    column-gap: 3.125vw;
    row-gap: 60px;
  }
  .news .new-content article {
    max-width: 420px;
  }
  .news .new-content article .new-content-img img {
    width: 420px;
  }
}
.protect {
  margin-bottom: 254px;
  position: relative;
}
.protect .protect-title {
  text-align: center;
}
.protect .protect-title > p {
  padding-block: 25px 50px;
}
.protect .protect-content .row-protect {
  align-items: stretch;
  justify-content: center;
  column-gap: 25px;
  row-gap: 25px;
}
.protect .protect-content article {
  width: 347px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 9px;
  padding-bottom: 28px;
}
.protect .protect-content article .protect-content-img img {
  border-radius: 9px;
}
.protect .protect-content article h3 {
  margin-block: 25px 7px;
  color: #e05000;
  padding: 0 28px;
}
.protect .protect-content article p {
  padding: 0 28px;
}
.protect .section-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: calc(100% - 201px);
  left: 0;
  margin-top: 115px;
  background-color: #fff0e7;
}

@media screen and (max-width: 992px) {
  .protect-content article {
    max-width: 327px;
  }
}
@media screen and (max-width: 768px) {
  .protect .protect-content .row-protect article {
    max-width: 42vw;
  }
}
@media screen and (max-width: 576px) {
  .protect .protect-content .row-protect {
    column-gap: 28px;
    row-gap: 28px;
  }
  .protect .protect-content .row-protect article {
    width: 347px;
    max-width: none;
  }
  .protect .protect-content .row-protect article h3 {
    padding: 0 16px;
  }
  .protect .protect-content .row-protect article p {
    padding: 0 16px;
  }
}
.row-slogan {
  align-items: stretch;
}

.row-slogan-margin-bottom {
  margin-bottom: 39px;
}

.slogan img {
  width: 56px;
  max-width: fit-content;
}
.slogan .row-slogan {
  justify-content: center;
  column-gap: 52px;
  row-gap: 52px;
}
.slogan article {
  display: flex;
  width: 288px;
  height: 100%;
  column-gap: 16px;
  align-items: flex-start;
}
.slogan article .slogan-text {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

@media screen and (max-width: 768px) {
  .slogan img {
    width: 45px;
  }
  .slogan .row-slogan {
    column-gap: 5vw;
    row-gap: 5vw;
  }
  .slogan article {
    max-width: 37.5vw;
    min-width: 220px;
  }
  .slogan article .slogan-text h3 {
    font-size: 1.8rem;
  }
  .slogan article .slogan-text p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 576px) {
  .slogan .row-slogan {
    column-gap: 4vw;
    row-gap: 5vw;
  }
  .slogan article {
    max-width: 37.5vw;
    min-width: 200px;
    column-gap: 10px;
  }
  .slogan article .slogan-text h3 {
    font-size: 1.8rem;
  }
  .slogan article .slogan-text p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 500px) {
  .slogan img {
    width: 56px;
  }
  .slogan .row-slogan {
    row-gap: 52px;
  }
  .slogan article {
    max-width: 37.5vw;
    min-width: 288px;
    column-gap: 16px;
  }
  .slogan article .slogan-text h3 {
    font-size: 2rem;
  }
  .slogan article .slogan-text p {
    font-size: 1.6rem;
  }
}
.contact {
  margin-block: 133px 101px;
}
.contact .row-contact {
  align-items: flex-start;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
}
.contact .col-img {
  padding-right: 2px;
}
.contact .col-content {
  padding-left: 2px;
}
.contact .contact-content h3 {
  margin-block: 55px 26px;
}
.contact .contact-content form {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}
.contact .contact-content form input,
.contact .contact-content form textarea {
  font-size: 1.6rem;
  border-radius: 7px;
  border: solid 1px #a3a3a3;
  width: 100%;
  padding: 13px;
  color: #a3a3a3;
  font-weight: 400;
}
.contact .contact-content form textarea {
  height: 149px;
}
.contact .contact-content form .row-contact-mid .col-left {
  padding-right: 9px;
}
.contact .contact-content form .row-contact-mid .col-right {
  padding-left: 9px;
}
.contact .contact-content form button {
  background-color: transparent;
}
.contact .contact-content form button a {
  float: right;
  width: 129px;
  height: 47px;
  display: inline-block;
  padding: 14px 12px;
  font-size: 17px;
  color: #fff;
  background-color: #46b20f;
  border-radius: 7px;
}

/*# sourceMappingURL=style.css.map */
